page-agregar-por-voz {
    .comando{
        color: cadetblue;
        font-style: italic;
    }

    .escuchar{
        margin-top: 50px;
    }

    .escucharbtn{
        height: 215px;
        width: 215px;
        display: block;
        margin: auto;
    }
}
