<ion-content>
  <div class="header" padding>
    <h2 text-center *ngIf="isNew; else login">Crear una cuenta</h2>
    <ng-template #login> <h2 text-center>Iniciar sesión</h2> </ng-template>
  </div>
  <div class="button-group" padding>
      <button (click)="loginFacebook()" ion-button icon-left color="facebook" large block>
        <ion-icon name="logo-facebook"></ion-icon>
        <h5>Conectar con Facebook</h5>
      </button>
      <button (click)="loginTwitter()" ion-button icon-left color="twitter" large block>
        <ion-icon name="logo-twitter"></ion-icon>
        <h5>Conectar con Twitter</h5>
      </button>
      <button (click)="loginGoogle()" ion-button icon-left color="google" large block>
        <ion-icon name="logo-google"></ion-icon>
        <h5>Conectar con Google</h5>
      </button>
  </div>
  <div class="footer">
    <h4 (click)="toggle()" text-center *ngIf="isNew; else login2">Ya tengo una cuenta</h4>
    <ng-template #login2> <h4 (click)="toggle()" text-center>¿Aun no estas registrado? Crea una cuenta</h4> </ng-template>
  </div>
</ion-content>
