page-carteras {
    .transaccion{
        background-color: #D7E5DC;

        .category{
            max-width: 90%;
        }

        .amount{
            text-align: center;
            font-size: 32px;
        }
    }

    .balance{
        height: 20%;
        vertical-align: middle;
        margin-top: 25px;

        h1{
            font-size: 40px;
            text-align: center;
            margin-top: -1px;
        }

        h2{
            font-size: 23px;
            color: rgb(83, 83, 83);
            text-align: center;
        }
    }
}
