page-dashboard {
    .profile-photo{
        width: 80px;
        height: 80px;
        float: right;
    }

    .carteras{
        background-color: color($colors, primary);
        
        h5{
            color: white;
        }

        h2{
            margin-top: -15px;
        }
    }

    .transaccion{
        background-color: #D7E5DC;

        .category{
            max-width: 90%;
        }

        .amount{
            text-align: center;
            font-size: 32px;
        }
    }

    .transacciones{
        margin-bottom: 25%;
    }

}
