<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <button ion-button icon-only large clear round (click)="openMenu()">
            <ion-icon name="menu"></ion-icon>
        </button>
      </ion-col>
      <ion-col align-self-end>
        <img [src]="user.avatar" alt="Profile photo" class="profile-photo" (click)="openProfile()">
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="header" padding>
    <h3>Bienvenido de nuevo, {{user.nombre}} <br>
      Tu balanza general es de <strong>{{user.balance | currency:user.moneda:true}}</strong></h3>
  </div>


  <div class="carteras" padding>
    <h5>Carteras</h5>
    <ion-slides spaceBetween="20px">
      <ion-slide class="cartera" *ngFor="let cartera of carteras | async">
        <p text-capitalize>{{cartera.nombre}}</p>
        <h4 color="cartera.color">{{cartera.balance | currency:user.moneda:true}}</h4>
      </ion-slide>
      <ion-slide class="cartera" style="background-color: white;">
          <button (click)="newWallet()" ion-button icon-only large clear>
              <ion-icon name="add-circle"></ion-icon>
          </button>
      </ion-slide>
    </ion-slides>
  </div>
  <div class="transacciones">
      <h5 padding-left>Ultimos registros</h5>
      <ion-card class="transaccion" *ngFor="let transaccion of transacciones | async">
        <ion-grid>
          <ion-row align-items-center>
            <ion-col col-3>
              <img src="assets/imgs/categories/books.png" alt="Category" class="category">
            </ion-col>
            <ion-col col-9>
              <h1 class="amount">{{transaccion.cantidad | currency:user.moneda:true}}</h1>
            </ion-col>
          </ion-row>
          <ion-row justify-content-around>
              <ion-col col-6>
                {{transaccion.cartera}}
              </ion-col>
              <ion-col col-3>
                  {{transaccion.fecha}}
              </ion-col>
              <ion-col col-3 *ngIf="transaccion.tipo; else elseBlock">
                + Ingreso
              </ion-col>
              <ng-template #elseBlock>
                  <ion-col col-3>
                    - Gasto
                  </ion-col>
              </ng-template>
            </ion-row>
        </ion-grid>
      </ion-card>
  </div>

  <ion-fab right bottom>
    <button ion-fab color="secondary"><ion-icon name="add"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab (click)="newTransaction()"><ion-icon name="logo-usd"></ion-icon></button>
      <button ion-fab><ion-icon name="ios-cash-outline"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
