<ion-header>
  <ion-navbar color="primary">
    <ion-title>Crear plan de ahorro</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="done()">
    <ion-list margin-top>
      <ion-item>
        <ion-label floating>Nombre del plan de ahorro</ion-label>
        <ion-input type="text" [(ngModel)]="planDeAhorro.titulo" name="titulo"></ion-input>
      </ion-item>

      <ion-item margin-top>
        <ion-label floating>¿Cuanto es el objetivo?</ion-label>
        <ion-input type="number" [(ngModel)]="planDeAhorro.objetivo" name="objetivo"></ion-input>
      </ion-item>
    </ion-list>

    <ion-grid margin-top>
      <ion-row align-items-center justify-content-center>
        <ion-col col-3 (click)="selectDate('inicio')">
          <button ion-button icon-only clear color="dark" round large>
            <ion-icon name="calendar"></ion-icon>
          </button>
        </ion-col>
        <ion-col col-9 text-center (click)="selectDate()">
          <h6 *ngIf="planDeAhorro.fecha_inicio == ''; else elseBlock">HAZ CLIC PARA SELECCIONAR
            <br>LA FECHA DE INICIO</h6>
          <ng-template #elseBlock>
            <h6>{{planDeAhorro.fecha_inicio}}</h6>
          </ng-template>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid margin-top>
      <ion-row align-items-center justify-content-center>
        <ion-col col-3 (click)="selectDate('termino')">
          <button ion-button icon-only clear color="dark" round large>
            <ion-icon name="calendar"></ion-icon>
          </button>
        </ion-col>
        <ion-col col-9 text-center (click)="selectDate()">
          <h6 *ngIf="planDeAhorro.fecha_termino == ''; else elseBlock2">HAZ CLIC PARA SELECCIONAR
            <br>LA FECHA DE TERMINO</h6>
          <ng-template #elseBlock2>
            <h6>{{planDeAhorro.fecha_termino}}</h6>
          </ng-template>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div margin-top padding>
      <button ion-button color="secondary" large block type="submit">GENERAR PLAN</button>
    </div>
  </form>
</ion-content>