page-setup-login {
    .header{
        height: 25%;
        background-color: color($colors, primary);
        position: relative;
        h2{
            color: color($colors, light);
            position: absolute;
            bottom: 20px;
            left: 0px;
            width: 100%;
            font-size: 25px;
        }
    }
}
