page-detalle-transaccion {
    .amount{
        height: 25%;
        vertical-align: middle;
        text-align: center;

        h1{
            font-size: 50px;
            margin-top: -1rem;
        }
    }

    .category{
        max-width: 90%;
    }
}
