page-detalle-transaccion {
    .amount{
        height: 25%;
        vertical-align: middle;

        h1{
            font-size: 50px;
            text-align: center;
            margin-top: 60px;
        }
    }

    .category{
        max-width: 90%;
    }
}
