page-intro {
    p {
        padding: 0 40px;
        font-size: 14px;
        line-height: 1.5;
        color: #60646B;
    }

    .slide-image {
        max-height: 40%;
        max-width: 60%;
        margin: 36px 0;
    }

    .last-slide{
        button{
            margin-top: 30px;
        }
    }
}
