page-agregar-transaccion {
    .amount{
        height: 35%;
        vertical-align: middle;
        background: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255), rgb(255, 255, 255), color($colors, gray)); 

        h1{
            font-size: 50px;
            text-align: center;
            margin: 0;
            position: relative;
            top: 35%; 
        }
    }

    .numbers{
        height: 65%;
        border: 12px solid color($colors, gray);

        h1{
            font-size: 40px;
        }
    }
}
